body {
    background-color: #ADBECA;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
  }
  
  /*Cabecera*/
  
  .cabecera__container {
      display: flex;
      justify-content: space-around;
      gap: 80px;
      padding-top: 40px;
  }
  
  .cabecera__name {
      font-size: 1.25em;
  }
  
  .cabecera__iconos__item {
      display: flex;
      gap: 40px;
      font-size: 1.25em;
  }
  
  /*Información central*/
  
  .principal__container {
      padding: 80px 270px 100px 236px;
      justify-content: space-around;
      gap: 40px;
      align-self: flex-start;
  }
  
  .principal__titulo {
      font-size: 4em;
      padding: 0 0 20px 50px ;
  }
  
  .principal__img {
      float: right;
      width: 350px;
      padding: 0 10px 0 0 ;
     border-radius: 200px 200px 200px 200px ;
  }
  
  .principal__informaicion {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      padding: 0 0 20px 50px ;
      font-style: normal;
  }
  
  .principal__iconos__item {
      display: flex;
      font-size: 1.5em;
      padding: 20px 0 20px 50px ;
      gap: 50px;
     
  }
  
  a {
      text-decoration: none;
      font-style: normal;
      color: #000;
  }
  
  a:hover{
      text-decoration: underline;
  }
  
  .principal__iconos__item__img {
      padding-left: 30px;
  }
  
  /*Sobre mi*/
  
  .about__container {
      padding: 50px 270px 50px 280px;
      background-color: #A9D5F5;
  }
  
  .about__titulo {
      font-size: 3em;
      padding: 0 0 30px 0 ;
  }
  
  .about__informacion__cero {
      font-size: 1.25em;
      padding: 0 400px 0 0;
  }
  
  .about__informacion__dos , .about__informacion__uno {
      padding: 0 0 30px 0 ;
  }
  
  .about__img {
      background-color: #A9D5F5;
      width: 150px;
      padding-top:15px;
  }
  
  /*Skills*/
  
  .skills__titulo {
      font-size: 3em;
      padding: 50px 270px 10px 280px;
      text-align: center;
  }
  
  .skills__container {
      padding: 20px 270px 50px 280px;
      display: flex;
      flex-grow: 1;
      
  }
  
  .skills__items {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 50px;
  }
  
  .skills__items__text {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      font-size: 1.5em;
      text-align: center;
      gap: 10px;
      background-color: #486275;
      padding-bottom: 10px;
  }
  
  .skills_img {
      width: 100px;
      flex-grow: 1;
      padding-left: 112px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  
  /*Hobbies*/
  
  .hobbies__titulo {
      font-size: 3em;
      padding: 50px 270px 10px 280px;
      text-align: center;
  }
  
  .Hobbies__container {
      padding: 20px 270px 80px 280px;
      display: flex;
      flex-grow: 1;
      
  }
  
  .Hobbies__items {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 50px;
  }
  
  .Hobbies__items__text {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      font-size: 1.5em;
      text-align: center;
      gap: 10px;
      background-color: #486275;
      padding-bottom: 10px;
  }
  
  .Hobbies_img {
      width: 100px;
      flex-grow: 1;
      padding-left: 112px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  
  /*Formación académica*/
  
  .formación__titulo {
      font-size: 3em;
      padding: 50px 270px 10px 280px;
      text-align: center;
  }
  
  .formación__container {
      padding: 20px 270px 80px 280px;
      display: flex;
      flex-grow: 1;
      background-color: #A9D5F5;
  }
  
  .formación__items {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 50px;
  }
  
  .formación__items__text {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      font-size: 1.5em;
      text-align: center;
      gap: 10px;
      background-color: #7C91A0;
      padding-bottom: 10px;
      margin-top: 40px;
      margin-left: 150px;
      margin-right: 150px;
  }
  
  .formación_img {
      width: 270px;
      flex-grow: 1;
      padding-left: 150px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  
  .formación_img__a {
      width: 340px;
      flex-grow: 1;
      padding-left: 150px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  
  /*Experiencia profesional*/
  
  .formulario__container {
      padding: 20px 270px 80px 280px;
      gap: 20px;
  }
  
  .formulario__titulo {
      font-size: 3em;
      padding: 10px 0px 10px 0px ;
  }
  
  .formulario__informacion {
      display: flex;
      flex-direction: column;
      font-size: 1.25em;
      padding: 10px 270px 20px 0px ;
      font-style: normal;
  }
  
  .formulario__img {
      float: left;
      width: 650px;
      height: 900px;
      padding: 10px 30px 30px 0 ;
  }
  
  .formulario__recuadro {
      display: flex;
      flex-grow: 1;
      padding: 20px 10px 20px 10px ;
  }
  
  .formulario__recuadro {
      margin: 30px 15px 30px 0px;
      width: 60%;
  }
  
  .formulario__enviar {
      margin: 20px 15px 0px 0px;
      width: 10%;
      padding: 20px 20px 20px 20px;
      font-size: 1em;
      color: white;
      background-color: #0E2433;
  }
  
  /*Footer*/
  
  footer {
      text-align: center;
      font-size: 1.35em;
      padding: 30px 0px 30px 0px;
      background-color: #21394B;
      color: white;
  }
